

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url(http://localhost:3000/image.png);
  background-size: 100%;
}

/* HEADER */
h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 2em;
}

/* SPACER */
.spacer {
  height: 100px;
}

/* BUTTON */
.button {
  background-color: #191919; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: #464646;
}

.addToCartButton {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  background-color: #e8e8e8; 
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.addToCartButton:hover {
  background-color: #464646;
  color: white;
}



/* HEADER */
header { 
  display: flex;
  background-color: #191919;
  color: white;
  padding: 10px 20px 10px 20px;
  
}

.headerBox:nth-of-type(1) {
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.headerBox:nth-of-type(2) {
  flex: 2;
  text-align: center;
}

.headerBox:nth-of-type(3) {
  flex: 1;
  text-align: right;
  justify-content: center;
  align-items: center;
}

/* images and heights */
.headerBox__logo img {
  height: 50px;
}

.headerBox__userLinks img {
  height: 50px;
  padding: 0px 0px 0px 30px;
}

.headerBox__navIcon a {
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

.headerBox__navIcon a:hover {
  color: #F0EACE;

}



/* FOOTER */

footer {
  display: block; 
}

.footerTopLevel {
  display: flex;
  background-color: #191919;
  color: white;
  padding: 10px 20px 10px 20px;
  justify-content: space-around;
  align-items: center;
}

.footerContainer {
  text-align: center;
}

.footerContainer__icon {
  height: 80px;
}

/* HOMEPAGE IMAGES */
.homepageImageContainer {
  display: flex;
  justify-content: center;
}

.homepageImageComponent {
  position: relative;
  text-align: center;
}

.homepageImageComponent__image {
  margin-right: 20px;
  margin-left: 20px;
}

.homepageImageComponent__button {
  position: absolute;
  top: 80%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}

/* STORE CONTAINER */
.homepageStoreContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoSquareLarge {
  width: 200px;
}

/* ITEM */

.item {
  width: 300px;
  text-align: center;
  display: inline-block;
  float: left;
  border: 2px solid black;
  margin: 40px 20px 0px 20px;
}

.item__images {
  position: relative;
}

.item__images__itemImage {
  width: 300px;
}

.item__images__itemStoreLogo {
  width: 50px;
  position: absolute;
  left: 0%;
  top: 0%;
}

.item__title {
  text-align: center;
  font-weight: bold;
}

.item__price {
  text-align: center;
  font-style: italic;
}

/* MOST WANTED SECTION */
.mostWantedSection {
  margin: 0px 10% 0px 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* COLLECTION */
.collectionContainer {
  margin: 0px 10% 0px 10%;
  flex: 5;
  /* display: flex; */
}

.collectionContainer:after {
  content:"";
  display: block;
  clear: both;
}

/* STORES */
.brandsContainer {
  margin: 0px 10% 0px 10%;
  /* display: flex; */
}

.brandsContainer:after {
  content:"";
  display: block;
  clear: both;
}

/* FILTER AND CONTAINER */
.filterAndContainer {
  display: flex;
}

.filter {
  flex: 1;
  text-align: center;
}

